:root {
  --primary-1: #75bf7a;
  --primary-2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

/* nav bar css start */

header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
}

nav {
  height: 120px;
  display: flex;
  align-items: center;
}
nav img {
  width: 180px;
  height: 51px;
  margin: 85px 0px 38px 80px;
}

.nav-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 27%;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li {
  list-style: none;
  margin-top: 100px;
  margin-bottom: 51px;
  padding-right: 46px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-style: Medium;
  font-size: 17.16px;
  line-height: 100%;
}

.green-btn {
  width: 182px;
  height: 40px;
  border: none;
  border-radius: 5.95px;
  margin-top: 50px;
  margin-left: 1px;
  background-color: var(--primary-1);
  color: var(--primary-2);
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  padding: 12px 27px 11px 28px;
}

.nav-links span {
  display: none;
}

/* nav bar css end */

/* hero section css start  */

.hero-section {
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  /* border: 1px solid black; */
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 500px;
  /* border: 1px solid black; */
}

.hero-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 500px;
  /* border: 1px solid black; */
}

.hero-section-img img {
  width: 553px;
  height: 500px;
}

.heading {
  width: 560px;
  height: 175px;
  margin-top: 45px;
}

.heading h2 {
  font-family: Gilroy;
  font-weight: 800;
  font-style: bold;
  font-size: 54px;
}

.paragraph {
  width: 560px;
  height: 120px;
  margin-top: 27px;
}

.paragraph p {
  font-family: Gilroy;
  font-style: Medium;
  font-size: 27px;
  color: #9e9da2;
}

.black-btn {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin-top: 87px;
}

.black-btn button {
  background-color: #000000;
  color: #ffffff;
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.black-btn button i {
  font-size: 25px;
}

.black-btn button span {
  font-size: 25px;
}

.section1 {
  /* border: 1px solid black; */
  height: 100px;
  width: 1155px;
  display: flex;
  margin-left: 62px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #75bf7a;
  border-radius: 10px;
}
.section1 > div {
  /* border: 1px solid black; */
  width: 149px;
  height: 41px;
  display: flex;
  align-items: center;
}

.section1 > div p {
  font-family: Gilroy;
  font-weight: 500;
  font-style: bold;
  font-size: 17px;
  color: #ffffff;
}

.section1 .INPUT {
  /* border: 1px solid black; */
  width: 700px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section1 .INPUT input {
  font-size: 22px;
  width: 500px;
  height: 35px;
  border-radius: 4.39px;
}

.section1 .INPUT input:focus {
  border-color: rgba(0, 0, 255, 0.788);
  outline: none;
}

.section1 .INPUT button {
  width: 180px;
  height: 35px;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4.39px;
  color: #ffffff;
  background-color: #000000;
}

.section2 {
  /* border: 1px solid black; */
  margin-top: 100px;
  width: 1155px;
  height: 145px;
  margin-left: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 > div {
  /* border: 1px solid black; */
  width: 403px;
  height: 51px;
}

.section2 > div h3 {
  font-weight: 800;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}

.section2 > div h3 span {
  color: #75bf7a;
}

.section2 .paragraph {
  /* border: 1px solid black; */
  width: 620px;
  height: 96px;
  text-align: center;
  margin-top: 5px;
}

.section2 .paragraph p {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #9e9da2;
}

.section3 {
  /* border: 1px solid black;  */
  height: 500px;
  width: 1155px;
  margin-left: 62px;
  margin-top: 143px;
  display: flex;
}

.section3 .first {
  /* border: 1px solid black;  */
  height: 500px;
  width: 382px;
}

.section3 .first div {
  /* border: 1px solid black;  */
  height: 247px;
  width: 378px;
}

.section3 .first .one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section3 .first .one img {
  width: 60.81920623779297px;
  height: 60.81920623779297px;
}

.section3 .first .one h4 {
  font-weight: 800;
  padding-top: 5px;
}

.section3 .first .one p {
  padding-top: 8px;
  color: #9e9da2;
  text-align: end;
}

.section3 .first .two {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section3 .first .two img {
  width: 60.81920623779297px;
  height: 60.81920623779297px;
}

.section3 .first .two h4 {
  font-weight: 800;
  padding-top: 5px;
}

.section3 .first .two p {
  padding-top: 8px;
  color: #9e9da2;
}

.section3 .second {
  /* border: 1px solid black;  */
  height: 435px;
  width: 382px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section3 .second div {
  /* border: 1px solid black;  */
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #75bf7a;
}

.section3 .third {
  /* border: 1px solid black;  */
  height: 500px;
  width: 382px;
}

.section3 .third div {
  /* border: 1px solid black;  */
  height: 247px;
  width: 378px;
}

.section3 .third .three img {
  width: 60.81920623779297px;
  height: 60.81920623779297px;
}

.section3 .third .three h4 {
  font-weight: 800;
  padding-top: 5px;
}

.section3 .third .three p {
  padding-top: 8px;
  color: #9e9da2;
}

.section3 .third .four img {
  width: 60.81920623779297px;
  height: 60.81920623779297px;
}

.section3 .third .four h4 {
  font-weight: 800;
  padding-top: 5px;
}
.section3 .third .four p {
  padding-top: 8px;
  color: #9e9da2;
}
